.gradle/
.idea/
**/build/
local.properties
*.iml
*.apk
*.aab
/app/libs/
.cxx/
*.keystore
!debug.keystore
captures/
externalNativeBuild/
.externalNativeBuild/
.navigation/
assetPackDownloadState.json
/google-services.json
.DS_Store
/captures/
.externalNativeBuild/
.cxx/
.pwsafe.bak
*.bak
